body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
  font-size: 34px !important;
  font-family: Georgia !important;
  
}

.image{
  align-items: right;
}

.flex-container{
  display:flex !important;
  height: 350px !important;
  align-items: center !important;
}

/* .col-md-6{
  width: 45% !important;
  height: 40% !important;
  padding: 0px !important;
  margin-left: 40px !important;
} */

.btn{
  background-color: orange !important;
  color: white !important;
}

.btn2{
  background-color: black !important;
  color: rgb(255, 102, 0) !important;
  width: 150px !important;
  height: 40px !important;
  font-size: 20px !important;
}

.box-red{
  border: 2px solid black !important;
  width: 20px !important;
  height: 20px !important;
  background-color: red !important;
  margin-left: 85px !important;
}
.box-green{
  border:2px solid black !important;
  width: 20px !important;
  height: 20px !important;
  background-color: green !important;
  margin-left: 85px !important;
}

p.a{
  text-align: left !important;
  margin-left: 70px !important;
  margin-right: 50px !important;
}
p.b{
  align-items: left !important;
  margin-left: 70px !important;
  height: 60px !important;
}

.left-box {
  float:left; 
  width:25%;
  height:280px;
  margin-left: 80px;
}
.right-box{
  float:center;
  text-align: left; 
  width:40%;
  height:230px;
  margin-left: 620px;
}

.boxes2{
  margin-top: 100px;
}
.left-box2 {
  float:left; 
  text-align: left; 
  width:40%;
  height:280px;
  margin-left: 80px;
}
.right-box2{
  float:center; 
  width:25%;
  height:230px;
  margin-left: 690px;
}

.boxes3{
  margin-top:100px;
}
.left-box3 {
  float:left; 
  width:25%;
  height:280px;
  margin-left: 80px;
}
.right-box3{
  float:center;
  text-align: left; 
  width:40%;
  height:230px;
  margin-left: 690px;
}

.boxes4{
  margin-top:100px;
}