/* (A) SET CONTAINER TO GRID */
#grid-gap {
    display: grid;
    grid-template-columns: auto auto;
  
    /* SET SPACING IN-BETWEEN CELLS */
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  
    /* OR SIMPLY SET A UNIFORM SPACING
    grid-gap: 20px; */
  }
  
  /* (B) GRID CELLS */
  div.cell {
    background: LightBlue;
    border: 1px solid Blue;
    padding: 10px;
  }